/*-------- content01 부분 --------*/
.content01 {
  width: 100vw;
  height: auto;
  position: relative;
  padding-bottom: 100px;
}

/*-- 콘텐츠 랩퍼 --*/
.ct01-content-wrapper {
  width: 100%;
  margin: 0 auto;
}

/*-- 뒤로가기 버튼 --*/
.back {
  font-size: 1.8rem;
  position: absolute;
  left: 5vw;
  margin-top: 20px;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-- 이미지 아래 설명글 랩퍼 --*/
.ct01-desc {
  width: 90vw;
  margin: 0 auto;
}

.bracket {
  font-weight: 200;
}

.head-en {
  font-size: 1.2rem;
  font-weight: 400;
  color: #555;
}

.desc-header {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 20px 0;
}

.desc {
  font-size: 0.95rem;
  font-weight: 300;
  color: #999;
  line-height: 150%;
  letter-spacing: -0.55px;
}

/*-------- content02 부분 --------*/
.content02 {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.ct02-content-wrapper {
  width: 90vw;
  margin: 0 auto;
}

.ct02-header {
  padding-bottom: 30px;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 30px;
}

.ct02-project {
  padding-bottom: 75px;
}

.ct02-project h2 {
  font-size: 1.6rem;
}

.team-name {
  font-size: 0.95rem;
  font-weight: 600;
  color: #999;
  margin-bottom: 20px;
}

.project-desc {
  font-size: 0.9rem;
  font-weight: 300;
  color: #999;
  line-height: 150%;
  letter-spacing: -0.55px;
}
